/* This parent can be any width and height */
.section {
  text-align: center;

  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
}
 
/* The ghost, nudged to maintain perfect centering */
.section:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

#menu li {
  display:inline-block;
  margin: 10px;
  color: #000;
  background:#fff;
  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active,
#menu li.active:hover{
  background:#666;
  background: rgba(0,0,0, 0.5);
  color: #fff;
}
#menu li a{
  text-decoration:none;
  color: #000;
}
#menu li.active a:hover{
  color: #000;
}
#menu li:hover{
  background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
  padding: 9px 18px;
  display:block;
}
#menu li.active a{
  color: #fff;
}
#menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 40px;
  /*width: 50%;*/
  z-index: 70;
  padding: 0;
  margin: 0;
}

#footer {
  position: fixed;
  bottom: 0px;
  height: 60px;
  /*display: block;*/
  width: 100%;
  /*background: #333;*/
  z-index: 9;
  text-align: center;
  color: #f2f2f2;
  /*padding: 20px 0 0 0;*/
}

#down {
  font-size: 3em;
  opacity: 0.5;
}